<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <form action="/signin" method="post">
        <input type="text" id="id" name="id" placeholder="아이디" /><br/>
        <input type="password" id="pwd" name="pwd" placeholder="비밀번호" /><br/>
        <button type="button" onclick="join();">회원가입</button>
        <button type="submit">로그인</button>
    </form>
<script type="application/javascript">
    function join() {
        console.log(@signup({id:"test", pwd:"pwdtest"}));
    }
</script>
</body>
</html>